<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css files/edit.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student Interest System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student_list">Student List</a>
            </li>
        </ul>
    </div>
</nav>
   <div class="container mt-4">
    <h2>Edit Student</h2>
    <form method="POST" action="/addStudent">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="full_name" placeholder="Full Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="roll_Number">Roll Number</label>
                <input type="text" class="form-control" id="roll_Number" placeholder="Roll Number" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
            </div>
            <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dob">Date of Birth</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="dob" placeholder="Date of Birth" required>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="city">City</label>
                 <select class="form-control" id="city" required>
                     <option value="" disabled selected>Select an option</option>
                    <option value="lahore">Lahore</option>
                    <option value="johar_town">Johar Town</option>
                    <option value="islamabad">Islamabad</option>
                 </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="interest">Interest</label>
                <select class="form-control" id="interest" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="sports">Sports</option>
                    <option value="music">Music</option>
                    <option value="programming">Programming</option>
                    <option value="ui/ux">UI/UX</option>
                    <option value="gaming">Gaming</option>
                    <option value="blogging">Blogging</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="department">Department</label>
                <select class="form-control" id="department" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="it">IT</option>
                    <option value="cs">CS</option>
                    <option value="se">SE</option>
                    <option value="ds">DS</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="degree">Degree Title</label>
                <select class="form-control" id="degree" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="associate degree">Associate Degree</option>
                    <option value="bachelors degree">Bachelors Degree</option>
                    <option value="m phil degree">M.Phil Degree</option>
                    <option value="post graduate diploma">Post Graduate Diploma</option>
                    <option value="post doctorate">Post Doctorate</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Subject">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="start_date">Start Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="start_date" placeholder="Start Date" required>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="end_date">End Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="end_date" placeholder="End Date" required>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
     <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" onclick="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>

    <script>
        function cancelEdit() {
            // Redirect to the StudentList page
            window.location.href = '/studentList';
        }
    </script>
</body>
</html>
